* {
  margin: 0;
  padding: 0;
  border: 0;
}

div.registration-container label {
  font-weight: bold;
}

div.registration-container button {
  float: right;
  align-self: flex-end;
  padding: 10px;
  border: 1px;
  border-style: solid;

  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
div.card {
  margin: 10px;
  min-width: 200px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
}

div.card > button {
  border: 1px;
  min-width: 80px;
  min-height: 10px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s;
}
div.card > button:hover {
}

div.text-content {
  display: flex;
  flex-direction: column;
}

div.text-content h1 {
  font-size: 15px;
}

div.text-content text {
  font-size: 10px;
  overflow: hidden;
  text-align: justify;
}
form {
  display: flex;
  flex-direction: column;

  min-width: 70vw;
}

form label {
  font-size: 25px;
  font-weight: bold;
}

form input#txt {
  min-height: 30px;
}

form textarea {
  min-height: 150px;
}

form > * {
  margin: 5px 5px;
}

div.container {
  width: 100vw;
  min-height: 300px;
  margin: 20px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  
}

div.container input {
    background-color: var(--primary);
    border-radius: 10px;
}

div.container textarea {
    background-color: var(--primary);   
    border-radius: 10px;
}

div.container input.submit-button {
    background-color: var(--tertiary);
    border-radius: 10px;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

button.submit-button {
  min-width: 10px;
  min-height: 10px;
  align-self: flex-end;

  border: 1px;

  padding: 10px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
}

div.centralize {
  align-items: center;
  justify-content: center;
}

div.flex-column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding: 10px 0;
}

nav a {
  margin: auto 20px auto 40px;
  text-decoration: none;
  font-weight: bold;
  z-index: 0;
}

nav ul {
  margin: 0 10px;
}
nav li {
  float: left;
  list-style: none;
  margin-left: 20px;
}
